[submodule "thorcast-server"]
	path = thorcast-server
	url = https://github.com/Kylep342/thorcast-server.git
[submodule "thorcast-discord"]
	path = thorcast-discord
	url = https://github.com/Kylep342/thorcast-discord.git
[submodule "thorcast-slack"]
	path = thorcast-slack
	url = https://github.com/Kylep342/thorcast-slack.git
